@font-face {
    font-family: Bookman Old Style ;
    src:  url(conf/fonts/BOOKOS.TTF) format(TTF);
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Bookman Old Style', sans-serif;
  }
p{
    color: rgb(255, 0, 0);
}
h1, h2, h3 {
    font-family: 'Bookman Old Style', sans-serif;
  }