@font-face {
    font-family: Bookman Old Style ;
    src:  url(conf/fonts/BOOKOS.TTF) format(TTF);
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Bookman Old Style', sans-serif;
    margin: 0;
    padding: 0;
  }
p{
    color: rgb(255, 0, 0);
}
h1, h2, h3 {
    font-family: 'Bookman Old Style', sans-serif;
}
#parametro1{
  color: blue;
}
#menu {
  background-color: #333;
  color: rgb(252, 0, 0);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
#main_brasao {
  margin-top: 80px; /* para deixar espaço para o menu fixo */
  padding: 20px;
  background-color: black;
}
#historia {
  padding: 20px;
  background-color: black;
}
#sede {
  padding: 20px;
  background-color: black;
}
#na_midia {
  padding: 20px;
  background-color: black;
}
#contatos {
  padding: 20px;
  background-color: black;
}
#footer {
  background-color: #333;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
li {
  list-style-type: none;
  display: inline;
  margin: 0 0 0 20px; 
}
nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
.creditos {
  text-align: right; /* Isso redefine o alinhamento do texto para a direita, caso haja estilos conflitantes */
  color: #ffffff;
  font-size: 10px;
  }
  .tg  {border-collapse:collapse;border-spacing:0;color: #ffffff;}
  .tg td{border-color:black;border-style:solid;border-width:1px;;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0lax{text-align:center;vertical-align:top}